{% extends 'base.html' %}
{% block content %}
<div class="inner-banner">
    <section class="w3l-breadcrumb py-5">
        <div class="container py-lg-5 py-md-3">
            <h2 class="title">About Us</h2>
        </div>
    </section>
</div>
<!-- banner bottom shape -->
<div class="position-relative">
    <div class="shape overflow-hidden">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- banner bottom shape -->
<section class="w3l-aboutblock1 py-5" id="about">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="title-small">Anytime Anywhere together we can</h5>
                <h3 class="title-big text-capitalize">we are leading Ladies community care providers</h3>
                <p class="mt-3">We are a team of registered family with over 4 years  based on various clinical setings including critical care, emergency, , disability and community care. We are committed to provide customized care to meet individual needs.</p>
                <p class="mt-3">This course encourages girls to identify pressing social issues and design community service projects to address them. 
                  It instills a sense of empathy and responsibility towards the world around them.</p>
                <h3 class="title mt-4">"Over 4 Years of Accomplishments”</h3>
                <a href="#MoreAboutUs" class="btn btn-primary btn-style mt-lg-5 mt-4">Learn More about Us</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <img src="assets/images/about.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
 <!-- forms -->
 <section class="w3l-forms-9 py-5" id="">
     <div class="main-w3 py-lg-5 py-md-3">
         <div class="container">
             <div class="row align-items-center">
                 <div class="main-midd col-lg-9">
                  <div class="row about_blog">
                    <div class="col-lg-6 col-md-6 col-sm-12 about_cont_blog">
                      <div class="full text_align_left">
                        <h3 class="title-big mb-2">Who we are</h3>
                        <p class="mb-3">We are a team of registered ladies with over 5years of experience  in various  setings including critical care, emergency, aged care, disability and community care. We are committed to provide customized care to meet individual needs.</p>
                        <h3 class="title-big mb-2">What we provide</h3>
                        <ul>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Community  Care</b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>High Intensity Personal Activities</b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Assistance with Daily Personal Activities</b></li>                                                  
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Innovative Community Participation  </b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Development of  Daily Living </b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Aspects and Responsability</b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>Religious spility</b></li>
                          <li ><i class="fa fa-check-circle"></i class="ml-3"><b>innitiative culture and Life skills</b></li>
                        </ul>
                      </div>
                    </div>
                    
                  </div>
                 </div>
                  </div>
         </div>
     </div>
 </section>
 
<!-- testimonials -->
<section class="w3l-testimonials" id="testimonials">
	<!-- /grids -->
	<div class="customer-layout py-5">
		<div class="container py-lg-5 py-md-4">
            <div class="heading align-self text-center">
                <h6 class="title-small">Our Testimonials</h6>
                <h3 class="title-big mb-md-5 mb-4">Over 4 Years of Accomplishments</h3>
            </div>
			<!-- /grids -->
			<div class="row testimonial-row">
				<div id="owl-demo1" class="owl-two owl-carousel owl-theme mb-lg-3 mb-5">
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
								<blockquote>
									<q>As an advisor for the girls' forum, I am pleased to provide my testimony regarding their exceptional achievements and impact. The girls' group, with its remarkable dedication and determination, has consistently demonstrated excellence 
                    and made a positive difference in the lives of its members and the broader community.</q>
								</blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/youth.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>family Advisor</h3>
										<p class="indentity">. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
							  <blockquote>
								  <q>the girls' forum has achieved greatness through their hard work, compassion, and dedication. They have proven themselves as outstanding individuals and a force for good in their community. As their advisor, I am immensely proud of their accomplishments and have full confidence in their
                     ability to continue making a positive impact on the world around them.</q>
							  </blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/peterme.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>Event supporter</h3>
										<p class="indentity">. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
							  <blockquote>
								  <q>
                    As software-Developer, I am inspired by their commitment to excellence and their desire to make a positive impact through their technical endeavors. I wholeheartedly support their continued growth and success,
                     knowing that they have the potential to become trailblazers and leaders in the tech industry.</q>
							  </blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/peter2.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>Software engeener</h3>
										<p class="indentity">.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
							  <blockquote>
								  <q>As a co-founder of this incredible girls' group, it brings me immense joy and pride to share my testimony about the remarkable achievements and impact we have made together.

                    When we founded this group, our vision was to create a nurturing and empowering space for girls to thrive, grow, and make a positive difference in their lives and communities. Over time, our dreams have transformed into reality, 
                    and the accomplishments of our members have exceeded our wildest expectations.
                    </q>
							  </blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/yvette.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>Co-founder</h3>
										<p class="indentity"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
							  <blockquote>
								  <q> As the second co-founder of this incredible girls' forum, I am thrilled to add my voice to the chorus of admiration and pride for the remarkable achievements and impact we have achieved together.

                    From the very beginning, our shared vision was to create a safe and inclusive space where young girls could flourish, discover their passions, and realize their full potential. Today, I am delighted to say that this vision has become a reality, 
                    and our girls' group has gone above and beyond in proving what greatness truly means.
                     </q>
							  </blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/violete.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>2nd Co-founder</h3>
										<p class="indentity">.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial-content">
							<div class="testimonial">
							  <blockquote>
								  <q>As the fund mobilizer for this exceptional girls' group, I am thrilled to share my testimony about the incredible achievements and impact they have made through their unwavering dedication and commitment.

                    When I joined this group as the fund mobilizer, I was immediately struck by the passion and determination exhibited by every member. Their enthusiasm for creating positive change in their lives and the lives of others was contagious,
                     and it has been an absolute pleasure to be part of their journey.
                     
                    </q>
							  </blockquote>
								<div class="testi-des">
									<div class="test-img"><img src="assets/images/team7.jpg" class="img-fluid" alt="client-img">
									</div>
									<div class="peopl align-self">
										<h3>Fund mobilasor</h3>
										<p class="indentity">.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /grids -->
	</div>
	<!-- //grids -->
  </section>
  <!-- //testimonials -->
  {% endblock %}